name: Frontend Workflow

on:
  push:
    branches: 
      - CI-CD-P10

#      opened : déclenché lorsqu'une pull request est ouverte pour la première fois.
#      synchronize : déclenché lorsqu'une pull request existante reçoit de nouveaux commits, comme lors d'un rebase ou d'une mise à jour de la branche.
#      reopened : déclenché lorsqu'une pull request précédemment fermée est rouverte.

  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  Frontend:
    name: Frontend Test and coverage
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: front
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: NPM clean install
        working-directory: front
        run: npm ci

      - name: build the project
        working-directory: front
        run: npm run build

      - name: Unit tests
        working-directory: front
        run: |
          npm install -g @angular/cli
          ng test --browsers ChromeHeadless --watch=false
      
      - name: Coverage tests
        working-directory: front
        run: |
          npm install -g @angular/cli
          ng test --code-coverage --browsers ChromeHeadless --watch=false
      
      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: front/coverage/bobapp/  
          
  SonarCloudAnalyseFront:
    name: Sonar cloud analyse front
    runs-on: ubuntu-latest
    needs: Frontend

    defaults:
      run:
        working-directory: front

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{matrix.node-version}}
        uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node-version}}

      - name: Install Dependencies
        run: npm ci

      - name: Build Angular Project
        run: npm run build

      - name: Run Tests and Generate Code Coverage Report
        run: npm run test -- --no-watch --no-progress --browsers=ChromeHeadless --code-coverage

      - name: Upload Code Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: front-coverage-report
          path: front/coverage

      - name: SonarCloud Scan
        working-directory: front
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_FRONT}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx sonar-scanner \
          -Dsonar.projectKey=did-bdx_OCP10-frontend \
          -Dsonar.sources=. \
          -Dsonar.projectName=OCP10-front-sonar \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.organization=wolfsilver0509 \
          -Dsonar.token=${{ secrets.SONAR_TOKEN_FRONT }} \
          -Dsonar.javascript.lcov.reportPaths=coverage/bobapp/lcov.info  # Chemin vers le rapport de couverture LCOV

  
  DockerLogAndBuild:
    runs-on: ubuntu-latest
    needs: SonarCloudAnalyseFront
    defaults:
      run:
        working-directory: ${{ github.workspace }}/front

    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and push frontend Docker image
        run: |
          docker build -t bobapp-front .
          docker tag bobapp-front ${{ secrets.DOCKER_USERNAME }}/bobapp-front:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/bobapp-front:latest
