name: Frontend Workflow

on:
  push:
    branches:
      - feature/workflow
    paths:
      - 'front/**'


  pull_request:
    branches:
      - main
    paths:
      - 'front/**'

jobs:
  Frontend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: front
    strategy:
      matrix:
        node-version: [14.x]


    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: front/package.json

    - run: npm ci
    - run: npm build
    - run: npm test --no-watch --browsers=ChromeHeadless --code-coverage

    - name: Archive code coverage results
      uses: actions/upload-artifact@v4
      with:
        name: code-coverage-report
        path: ${{ github.workspace }}/front/coverage/bobapp/**

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      with:
        projectBaseDir: front
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_FRONT }}

  DockerLogAndBuild:
    if: github.event_name == 'pull_request' && github.base_ref == 'main'

    runs-on: ubuntu-latest
    needs: Frontend
    defaults:
      run:
        working-directory: ${{ github.workspace }}/front

    steps:
      - uses: actions/checkout@v4

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
           path: /tmp/.docker-cache
           key: ${{ runner.os }}-docker-${{ hashFiles('**/Dockerfile') }}
           restore-keys: |
             ${{ runner.os }}-docker-

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and push frontend Docker image
        run: |
          docker build -t bobapp-front .
          docker tag bobapp-front ${{ secrets.DOCKER_USERNAME }}/bobapp-front:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/bobapp-front:latest
