name: Frontend Workflow

on:
  push:
    branches: 
      - CI-CD-P10
  pull_request:
    branches: 
      - CI-CD-P10

jobs:
  Frontend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: front

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: NPM clean install
        working-directory: front
        run: npm ci

      - name: build the project
        working-directory: front
        run: npm run build

      - name: Unit tests
        working-directory: front
        run: |
          npm install -g @angular/cli
          ng test --browsers ChromeHeadless --watch=false
      
      - name: Coverage tests
        working-directory: front
        run: |
          npm install -g @angular/cli
          ng test --code-coverage --browsers ChromeHeadless --watch=false
      
      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: front/coverage/bobapp/  
          
  SonarCloudAnalysis:
    runs-on: ubuntu-latest
    needs: Frontend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js for Frontend
        uses: actions/setup-node@v4
        with:
          node-version: '16.x'

      - name: Install Frontend dependencies
        run: npm install
        working-directory: front

      - name: Build Angular project
        run: npm run build -- --configuration production --base-href="./"
        working-directory: front
      
      - name: Coverage tests
        working-directory: front
        run: |
          npm install -g @angular/cli
          ng test --code-coverage --browsers ChromeHeadless --watch=false

      - name: Analyze Frontend with SonarCloud
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_FRONT }}
        with:
          args: >
            -Dsonar.projectKey=mydmoov_sonarcloud-p10-front
            -Dsonar.organization=wolfsilver0509
            -Dsonar.sources=front
            -Dsonar.tests=front/src
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
            -Dsonar.test.inclusions=**/*.spec.ts
            -Dsonar.exclusions=**/node_modules/**,**/dist/**,**/coverage/**,**/src/environments/**


  
  DockerLogAndBuild:
    runs-on: ubuntu-latest
    needs: SonarCloudAnalysis
    defaults:
      run:
        working-directory: ${{ github.workspace }}/front

    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and push frontend Docker image
        run: |
          docker build -t bobapp-front .
          docker tag bobapp-front ${{ secrets.DOCKER_USERNAME }}/bobapp-front:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/bobapp-front:latest
